<h1> Modifier mon profil </h1>
<form (ngSubmit)="onSubmit()">
	<label>E-Mail:</label>
	<input type="text" id="login" name="login" [(ngModel)] = "formData.login" required>

	<label>Nom:</label>
	<input type="text" name="nom" [(ngModel)] = "formData.nom" required>

	<label>Prenom:</label>
	<input type="text" name="prenom" [(ngModel)] = "formData.prenom" required>

    <input type="hidden" name="email" [(ngModel)]="formData.email" value="{{this.auth.firebaseUser!.email}}"/>
    <input type="hidden" name="status" [(ngModel)]="formData.statut" value="{{this.auth.profil!.statut}}"/>

	<button type="submit">Enregistrer</button>
	<button type="button" (click)="delete_account()">Supprimer mon compte</button>
</form>
