<section>
	<h1> Besoin d'infos? Pas assez de Redbull? </h1>
	<h2> Laissez nous un message </h2>
	<form (submit)="coucouToi()">
		<label> Nom </label>
		<input name="nom" [(ngModel)]="contact.nom">

		<label> Prenom <label>
		<input name="prenom" [(ngModel)]="contact.prenom">

		<label> Age <label>
		<input name="age" [(ngModel)]="contact.age">

		<label> Rue <label>
		<input name="rue" [(ngModel)]="contact.adresse!.rue">

		<label> Ville <label>
		<input name="ville" [(ngModel)]="contact.adresse!.ville">

		<label> Code Postal <label>
		<input name="code_postal" [(ngModel)]="contact.adresse!.code_postal">

		<label> Téléphone <label>
		<input name="telephone" [(ngModel)]="contact.telephone">

		<label> Email <label>
		<input name="email" [(ngModel)]="contact.email">

		<label> Un commentaire? <label>
		<input name="infos" [(ngModel)]="contact.infos">
		<button> Envoyer </button>
	<form>
<section>
