@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

:root {
    /* rgb(240, 239, 237) */
    --primary-background-color: 240, 239, 237;

    /* rgb(173, 160, 190) */
    --secondary-background-color: 173, 160, 190;

    /* rgb(141, 86, 157) */
    --text-background-color: 141, 86, 157;

    /* rgb(128, 53, 147) */
    --button-background-color: 128, 53, 147;
    
    /* rgb(24, 23, 22) */
    --dark-text-color: 24, 23, 22;

    /* rgb(240, 239, 237) */
    --light-text-color: 240, 239, 237;

    /* rgb(167, 115, 184) */
    --intermediate-text-color: 167, 115, 184;
}

app-root {
	display: grid;
	grid-template:
		"header header" fit-content(1em)
		"main main" auto
		"footer footer" fit-content(1em);
	height: 100%;
	width: 100%;
    background-color: rgba(var(--primary-background-color), 1);
    color: rgb(var(--dark-text-color));
}

app-header {
	grid-area: header;
}

app-footer {
	grid-area: footer;
}

app-footer, app-header {
	background-color: rgba(var(--secondary-background-color), 0.69);
}

h1 {
    background-color: rgba(var(--text-background-color), 0.26);
}

h2 {
    background-color: rgba(var(--text-background-color), 0.13);
}

p, h3 {
    background-color: rgba(var(--text-background-color), 0.06);
}

nav ul {
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	padding: 0;
	list-style-type: none;
    :hover {
        background-color: rgba(var(--button-background-color), 1);
    }
}

nav ul li {
    min-width: 6em;
	padding: 0.3em;
    background-color: rgba(var(--button-background-color), 0.6);
	color: rgba(var(--light-text-color), 1);
	border: solid 1px rgba(var(--button-background-color), 0.8);
    box-shadow: 0.2em 0.3em 1em #00000066;
    border-top-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

fieldset {
    border: none;
}

td {
    border-bottom: dashed 1px black;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
}

.boutons_nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;

}

html, body{
    padding:0;
    margin:0;
    height:100%;
    width:100%;
    font-size:16px;
    font-family: 'Raleway', sans-serif;
}

body  * {
	box-sizing: border-box;
}

main {
	padding: min(20%, 2em);
	width: 100vw;
	overflow-y: auto;
	overflow-x: hidden;
	grid-area: main;
    background-color: rgba(var(--primary-background-color), 1);
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

form {
	display: flex;
	flex-flow: column wrap;
}

input textarea {
  background-color: rgba(var(--secondary-background-color), 0.1);
  margin-bottom: 0.3em;
}

form button {
  margin: 1em;
  font-size: 1.2em;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

label {
	margin: 10px 0 5px;
}

input, textarea {
	padding: 5px 10px;
}

form input.ng-invalid {
	box-shadow: 2px 2px 1em #FF000066;
}

form input.ng-valid {
	box-shadow: 2px 2px 1em #00FF0066;
}

.sidebyside {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 4fr;
  column-gap: 1em;
}

aside nav ul {
  flex-direction: column;
  width: fit-content;
  li {
    width: fit-content;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
