@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

app-root {
	display: grid;
	grid-template:
		"header header" fit-content(1em)
		"main main" auto
		"footer footer" fit-content(1em);
	height: 100%;
	width: 100%;
}

app-header {
	grid-area: header;
}

app-footer {
	grid-area: footer;
}

app-footer, app-header {
	background-color: #AAAAAAAA;
}

nav ul {
	width: 100vw;
	display: flex;
	justify-content: space-between;
	padding: 0;
	padding-left: 5%;
	padding-right: 5%;
	list-style-type: none;
}

nav ul li {
	padding: 0.3em;
	background-color: #00000033;
	color: #FFFFFF;
	border: solid 1px #EEEEEE;
}

html, body{
    padding:0;
    margin:0;
    height:100%;
    width:100%;
    font-size:16px;
    font-family: 'Raleway', sans-serif;
}

body  * {
	box-sizing: border-box;
}

main {
	padding: min(20%, 2em);
	width: 100vw;
	overflow-y: auto;
	overflow-x: hidden;
	grid-area: main;
}

body > header, body > footer {
}

form {
	display: flex;
	flex-flow: column wrap;
}

label {
	margin: 10px 0 5px;
}

input, textarea {
	padding: 5px 10px;
}

.ng-invalid {
	border-bottom: 1px solid red;
}

.ng-valid {
	border-bottom: 1px solid green;
}

.ng-touched {
	box-shadow: 0 0 4px yellow;
}
