@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

html, body{
    padding:0;
    margin:0;
    height:100%;
    width:100%;
    font-size:16px;
    font-family: 'Raleway', sans-serif;
}

body > * {
	padding: 10px 15px;
}

body  * {
	box-sizing: border-box;
}

main {
	width: 100vw;
	height: calc(100vh - var(--menu) - var(--menu));
	overflow-y: auto;
	overflow-x: hidden;
}

body > header, body > footer {
}
