<section>
  <fieldset>
    <label>Filtre: </label>
    <input name="filtre" [(ngModel)]="filtre"/>
  </fieldset>
	<table>
		<thead>
			<tr>
				<th>n°</th>
				<th>Titre</th>
				<th>Nombre de places</th>
				<th>Début</th>
				<th>Fin</th>
				<th>Date</th>
                <th>Info</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let e of liste_events | events: filtre | slice:this.depart:depart + pas; let i = index">
				<td>{{ i }}</td>
				<td><a [routerLink]="['/evenement', e.id]">{{ e.titre | uppercase }}</a></td>
				<td>{{ e.places }}</td>
				<td>{{ e.horaire.debut }}</td>
				<td>{{ e.horaire.fin }}</td>
				<td>{{ e.date | date:'dd/MM/yyyy'}}</td>
                <td>{{ e.info }}</td>
			</tr>
		</tbody>
	</table>
    <article class="boutons_nav">
        <button (click)="depart = depart - pas" *ngIf="depart > 0"> < </button>
        <button (click)="depart = depart + pas" *ngIf="depart + pas < events.listeEvents.length"> > </button>
    </article>
</section>
